 <footer class="indec-footer">
     <img width="100" height="40" src="./../../../assets/img/Indec_logo.png">
    <a href="https://twitter.com/INDECargentina"><img width="40" height="40" src="./../../../assets/img/twitter.svg"></a>
    <a href="https://www.facebook.com/INDECArgentina"><img width="40" height="40" src="./../../../assets/img/facebook.svg"></a>
    <a href="https://www.youtube.com/channel/UCjTboPWVzNFgXPR3t5L2_Gg"><img width="40" height="40" src="./../../../assets/img/youtube.svg"></a>
    <a href="https://www.instagram.com/indecargentina/"><img width="40" height="40" src="./../../../assets/img/instagram.svg"></a>
    <a href="https://www.linkedin.com/company/indecargentina"><img width="40" height="40" src="./../../../assets/img/linkedin.svg"></a>   
</footer> 
